[submodule "SetupTool"]
	path = SetupTool
	url = https://github.com/TerrariaModding/SetupTool
[submodule "patches/Terraria"]
	path = patches/Terraria
	url = https://github.com/TerrariaModding/TerrariaPatches
[submodule "patches\\Terraria 1.4.1.2"]
	branch = 1.4.1.2
